#camera-container {
	position: absolute;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(0.0);
	margin: 0 auto;
	background-color: #000;

	&.camera-closed {
		transform: scale(0.0);
		transition-property: transform;
		transform-origin: center bottom;
		transition-duration: 400ms;
		transition-timing-function: ease-in-out;
	}

	&.camera-open {
		transform: scale(1.0);
		transition-property: transform;
		transform-origin: center bottom;
		transition-duration: 400ms;
		transition-timing-function: ease-in-out;
	}

	.modal-header {
		text-align: right;
		
		button.close {
			border: 0;
			background-color: transparent;
			color: #f60;
			font-size: 36px;
			font-weight: 200;
			margin-right: 18px;
			text-align: right;
		}
	}

	.modal-footer {

	}
}