#share-menu {
	position: absolute;
	z-index: 500;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0.0);
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.99);

	&.share-closed {
		transform: scale(0.0);
		transition-property: transform;
		transform-origin: right top;
		transition-duration: 400ms;
		transition-timing-function: ease-in-out;
	}

	&.share-open {
		transform: scale(1.0);
		transition-property: transform;
		transform-origin: right top;
		transition-duration: 400ms;
		transition-timing-function: ease-in-out;
	}

	.modal-content {
		.modal-header {
			text-align: right;

			button {
				border: 0;
				background-color: transparent;
				color: #f60;
				font-size: 36px;
				font-weight: 200;
				margin-right: 18px;
			}

			.modal-title {
				-webkit-margin-before: 0;
				-webkit-margin-after: 0;
				margin: 16px auto;
				text-align: center;
				color: #f60;
			}
		}

		.modal-body {
			margin: 0 24px;
			padding: 12px 0;

			.row {
				min-height: 36px;

				.col {
					width: 33%;
					text-align: center;

					a {
						display: block;
						width: 80px;
						height: 80px;
						background-color: #eee;
						border-radius: 12px;
						text-decoration: none;
						margin: 24px auto;

						span {
							line-height: 80px;
						}
					}
				}
			}
		}

		.modal-footer {
			margin: 12px 24px;

			button {
				width: 100%;
			}
		}
	}
}