<ion-header>
  <ion-toolbar color='orange'>
    <ion-buttons start>
      <button ion-button icon-only color="white">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Photos</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="white">
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
