<div id="share-menu" class="modal fade share-closed">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Share</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <a href="javascript:void(0);"><span>Facebook</span></a>
          </div>
          <div class="col">
            <a href="javascript:void(0);"><span>Instagram</span></a>
          </div>
          <div class="col">
            <a href="javascript:void(0);"><span>Email</span></a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="topcoat-button" data-dismiss="modal" {{action 'ok'}}>Cancel</button>
      </div>
    </div>
  </div>
</div>