.alert-window {
	position: fixed;
	z-index: 600;
	top: 0;
	left: 1.5%;
	width: 97%;
	height: auto;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.99);
	@include box-shadow(3px);

	.modal-content {
		.modal-header {
			text-align: right;

			button {
				border: 0;
				background-color: transparent;
				color: #f60;
				font-size: 36px;
				font-weight: 200;
				margin-right: 18px;
				text-align: right;
			}

			.modal-title {
				-webkit-margin-before: 0;
				-webkit-margin-after: 0;
				margin: -1.15em auto 1.3em;
				text-align: center;
				color: #f60;
			}
		}

		.modal-body {
			margin: 0 24px;
			padding: 12px 0;

			.row {
				min-height: 36px;

				.col {
					text-align: center;
				}
			}
		}

		.modal-footer {
			margin: 12px 24px;

			button {
				width: 100%;
				margin: 4px 0;
			}
		}
	}
}