html, body {
	input[type=text], input[type=password], input[type=email], input[type=search], input[type=submit], input[type=button], button {
		width: 100%;
	}

	.form {
		div {
			margin: 24px 0;
		}
	}
}