html, body {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;

	> .ember-view {
		overflow-x: hidden;
		overflow-y: scroll;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;

		#outer-container {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;

			#inner-container {
				.row {
					display: block;

					.col {
						float: left;
					}
				}

				header {
					position: fixed;
					z-index: 50;
					top: 0;
					width: 100%;
					height: 48px;
					border-bottom: 1px solid #ccc;
					background-color: #f60;

					a {
						background-color: transparent;
					}

					.col {
						position: absolute;
						float: none !important;
						text-align: center;

						img {
							height: 24px;
							margin: 0 auto;
							padding: 12px 18px;
						}
					}

					.col-1, .col-3 {
						width: 60px;
					}

					.col-1 {
						left: 0;
					}

					.col-2 {
						left: 0;
						right: 0;
						margin: 0 auto;
						width: 90px;

						h1 {
							display: inline-block;
							margin: 0;
							padding: 0;

							img {
								height: 16px;
								padding: 20px 18px 12px;
							}
						}
					}

					.col-3 {
						right: 0;
						button {
							
						}
					}
				}

				#ehat-content {
					position: absolute;
					top: 49px;
					width: 100%;

					.content {
						position: relative;
						top: 0;
						margin: 12px 24px;
						padding-bottom: 90px;

						.content-spacer {
							position: relative;
							display: block;
							width: 100%;
							height: 120px;
						}
					}
				}

				footer {
					position: fixed;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 60px;
					border-top: 1px solid #ccc;
					background-color: rgba(255, 255, 255, 0.95);

					nav {
						width: 100%;
						height: 100%;

						div.col {
							width: 25%;
							height: 100%;
							text-align: center;

							img {
								height: 25px;
								margin: 0 auto;
								padding: 16px 0 24px;
							}
						}
					}
				}
			}
		}
	}
}