@mixin border-radius($radius) {
  -webkit-border-radius: $radius + 'px';
     -moz-border-radius: $radius + 'px';
      -ms-border-radius: $radius + 'px';
       -o-border-radius: $radius + 'px';
          border-radius: $radius + 'px';
  -webkit-border-radius: rem-calc($radius);
     -moz-border-radius: rem-calc($radius);
      -ms-border-radius: rem-calc($radius);
       -o-border-radius: rem-calc($radius);
          border-radius: rem-calc($radius);
}

@mixin rem-width($pixels) {
  width: $pixels + px;
  width: ( $pixels / $base_font_size ) + rem;
}

@function rem-calc($pixels) {
  @return ( $pixels / $base_font_size ) + rem;
}
