$color-black: #10222b;
$color-green-dark: #95ab63;
$color-green-medium: #bdd684;
$color-green-light: #e2f0d6;
$color-yellow: #f6ffe0;

$margin-xsmall: 4px;
$margin-small: 8px;
$margin-medium: 16px;
$margin-large: 32px;

$base_font_size: 16;

$screen-desktop: 640;

$template_url: '/templates/2018';

html, body {
	color: $color-black;
}

a {
	color: $color-green-medium;
}

ul {
	list-style-type: none;
	@include rem-padding-left(0);
	@include rem-padding-right(0);
}

input[type=text], input[type=password], input[type=submit], input[type=button], button {
	@include rem-height(48);
}

input[type=text], input[type=password], textarea {
	border: 2px solid $color-green-medium;
	@include border-radius(4);
	color: $color-green-medium;
	@include rem-font(16);
	@include rem-padding-left(8);
	@include rem-width(288);
}

input[type=submit], input[type=button], button {
	background-color: $color-green-medium;
	-webkit-appearance: unset !important;
	color: $color-yellow;
	@include border-radius(4);
	border: 0;
	@include rem-font(20);
	font-family: Helvetica;
	@include rem-width(296);
}

h1 {
	@include rem-margin-bottom(8);
	color: $color-green-medium;
}

h2 {
	@include rem-margin-top(16);
	@include rem-margin-bottom(8);
	color: $color-black;
	@include rem-font(16);

	a {
		@include rem-font(16);
		color: $color-black;
	}
}
