.list-container {
	ul {
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;

		li {
			width: 100%;
			min-height: 72px;
			padding: 10px 0 8px;
			border-bottom: 1px solid #ccc;

			&:nth-child(1) {
				border-top: 1px solid #ccc;
			}

			.col.list-thumb {
				width: 22%;
				text-align: center;

				img {
					height: 64px;
				}
			}

			.col.list-details {
				width: 37%;
				font-size: 14px;

				.list-username {
					margin-top: 4px;
				}

				.list-country {
					font-size: 12px;
				}
			}

			.col.list-actions {
				width: 38%;

				> .row {
					> .col {
						width: 50%;
						margin-top: 18px;
						text-align: center;

						.icon-messages-list {
							height: 20px;
							margin-top: 4px;
						}

						.icon-settings-list {
							height: 28px;
						}
					}
				}
			}
		}
	}
}