<!--
  Generated template for the TwinsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar> -->

  <ion-toolbar color='orange'>
    <ion-buttons start>
      <button ion-button icon-only color="white">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Twins</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="white">
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

</ion-content>
