<div class="row">

    <div class="col-xs-12 col-md-5">
	<?php
	$title = 'Add Dog';
	$this->headTitle($title);
	?>
	<h1><?php echo $this->escapeHtml($title); ?></h1>
	<?php
		$form->setAttribute('action', $this->url('dog', array('action' => 'add')));
		$form->prepare();

		echo $this->form()->openTag($form);
		echo $this->formCollection($form);
		echo $this->form()->closeTag();
	?>
    </div>
</div>
