<div class="row">

    <div class="col-md-12">
	<?php
	$title = 'Delete dog';
	$this->headTitle($title);
	?>
	<h1><?php echo $this->escapeHtml($title); ?></h1>
	
	<p>
		Are you sure you want to delete dog '<?php echo $this->escapeHtml($dog->name); ?>'?
	</p>
	
	<?php
		$url = $this->url('dog', array(
			'action' => 'delete',
			'id'	 => $this->id,
		));
	?>
	<form action="<?php echo $url; ?>" method="post">
	<div>
		<input type="hidden" name="id" value="<?php echo (int) $dog->id; ?>" />
		<input type="submit" name="del" value="Yes" />
		<input type="submit" name="del" value="No" />
	</div>
    </div>
</div>
