<div class="row">

    <div class="col-md-12">
	<?php
	$title = 'Edit dog';
	$this->headTitle($title);
	?>
	<h1><?php echo $this->escapeHtml($title); ?></h1>
	<?php
		$form = $this->form;
		$form->setAttribute('action', $this->url(
			'dog', 
			array(
				'action' => 'edit',
				'id'	 => $this->id,
			)
		));
		$form->prepare();

		echo $this->form()->openTag($form);
		echo $this->formHidden($form->get('id'));
		echo $this->formRow($form->get('name'));
		echo $this->formRow($form->get('description'));
		echo $this->formSubmit($form->get('submit'));
		echo $this->form()->closeTag();
	?>
    </div>
</div>
