<?php
$title = 'All dogs';
$this->headTitle($title);
?>

<div class="row">

	<div class="col-md-12 text-center">
		<p><a class="btn btn-submit text-center" href="/dog/add" target="_self"><?php echo $this->translate('My Dog is Lost - HELP!') ?></a></p>
	</div>
	
	<div class="col-md-12 text-center">
		<p><a class="btn btn-submit text-center" href="/dog/edit" target="_self"><?php echo $this->translate('I Found a Dog') ?></a></p>
	</div>
</div>
