<?php
$title = 'All dogs';
$this->headTitle($title);
?>

<div class="jumbotron">
<!--	<h1><?php //echo sprintf($this->translate($this->escapeHtml($title)), '<span class="zf-green">', '</span>') ?></h1>-->
<!--	<p>
		<a href="<?php //echo $this->url('dog', array('action'=>'add'));?>">Add dog</a>
	</p>-->
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>&nbsp;</th>
		</tr>
		<?php foreach ($dogs as $dog) : ?>
		<tr>
			<td><?php echo $this->escapeHtml($dog->name);?></td>
			<td><?php echo $this->escapeHtml($dog->description);?></td>
			<td>
				<a href="<?php echo $this->url('dog',
					array('action'=>'edit', 'id' => $dog->id));?>">Edit</a>
				<a href="<?php echo $this->url('dog',
					array('action'=>'delete', 'id' => $dog->id));?>">Delete</a>
			</td>
		</tr>
		<?php endforeach; ?>
	</table>
</div>
