<?php 
$this->headScript()->appendFile(
    'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false',
    'text/javascript',
    array()
);
?>
<div class="row">
    <div class="col-xs-12">
	<?php
	$title = 'Lost Dog Event';
	$this->headTitle($title);
	?>
	<h1><?php echo $this->escapeHtml($title); ?></h1>
	<?php
		$form->setAttribute('action', $this->url('dog', array('action' => 'lost')));
		$form->prepare();
		
		echo $this->form()->openTag($form);
		$lost_fields = $form->get('dog_lost'); ?>
		<div class="row">
		    <div class="col-xs-12 col-md-6">
        		<div class="form-group">
        		  <?php echo $this->formRow($lost_fields->get('description')); ?>
        		</div>
        		<div class="form-group">
        		  <label>
            		  <span>Date Lost</span>
            		  <?php echo $this->formRow($lost_fields->get('post_form')); ?>
            		  <?php echo $this->formRow($lost_fields->get('lost_at')); ?>
            		  <?php echo $this->formRow($lost_fields->get('lost_month')); ?>
            		  <?php echo $this->formRow($lost_fields->get('lost_day')); ?>
            		  <?php echo $this->formRow($lost_fields->get('lost_year')); ?>
        		  </label>
        		</div>
        		<div class="form-group">
        		  <label>
            		  <span>Time Lost</span>
            		  <?php echo $this->formRow($lost_fields->get('lost_hour')); ?>
            		  <?php echo $this->formRow($lost_fields->get('lost_minute')); ?>
            		  <?php echo $this->formRow($lost_fields->get('lost_meridiem')); ?>
        		  </label>
        		</div>
        	</div>
    	</div>
		
		<?php $dog_fields = $lost_fields->get('dog'); ?>
		<div class="row">
		    <div class="col-xs-12 col-md-6">
        		<h3>Dog Details</h3>
        		<div class="form-group">
        		  <?php echo $this->formRow($lost_fields->get('dog_source')); ?>
        		  <?php echo $this->formRow($lost_fields->get('dog_id')); ?>
        	    </div>
        	    <div id="dog_source_content" class="row">
		          <div id="dog_add_form" class="col-xs-12">
		              <?php echo $this->formRow($dog_fields->get('name')); ?>
            		  <?php echo $this->formRow($dog_fields->get('description')); ?>
		          </div>
		          <div id="dog_choose_form" class="col-xs-12">
		              <?php echo $this->formRow($lost_fields->get('existing_dogs')); ?>
		          </div>
		          <div id="dog_choose_error" class="col-xs-12">
		              Please select a valid option.
		          </div>
		          <div class="col-xs-12"></div>
		        </div>
    	    </div>
	    </div>
		
		<?php $address_fields = $lost_fields->get('address'); ?>
		<?php echo $this->formRow($lost_fields->get('address_id')); ?>
		<div class="row">
		    <div class="col-xs-12 col-md-6 col-lg-4">
        		<h3>Lost at Address</h3>
        		<div class="form-group">
        		  <?php echo $this->formRow($lost_fields->get('address_source')); ?>
        		</div>
        		<div id="address_sources">
        			<div id="enter_address">
        			 <div class="form-group">
        			     <?php echo $this->formRow($address_fields->get('title')); ?>
    			     </div>
    			     <div class="form-group">
        			     <?php echo $this->formRow($address_fields->get('address_1')); ?>
    			     </div>
    			     <div class="form-group">
        			     <?php echo $this->formRow($address_fields->get('address_2')); ?>
    			     </div>
    			     <div class="form-group">
        			     <?php echo $this->formRow($address_fields->get('city')); ?>
    			     </div>
    			     <div class="form-group">
        			     <?php echo $this->formRow($address_fields->get('state_abbreviation')); ?>
    			     </div>
    			     <div class="form-group">
        			     <?php echo $this->formRow($address_fields->get('zip')); ?>
						 <?php echo $this->formHidden($address_fields->get('latitude')); ?>
						 <?php echo $this->formHidden($address_fields->get('longitude')); ?>
						 <?php echo $this->formHidden($address_fields->get('created_at')); ?>
						 <?php echo $this->formHidden($address_fields->get('updated_at')); ?>
    			     </div>
                    </div>
                    <div id="address_choose_form" class="form-group">
                      <?php echo $this->formRow($lost_fields->get('existing_addresses')); ?>
                    </div>
                    <div id="address_choose_error" class="col-xs-12">
                      Please select a valid address option.
                    </div>
        		</div>
    		</div>
    		
    		<div id="map-canvas" class="col-xs-12 col-md-6 col-lg-8"></div>
		</div>
		
		<div class="form-group">
		  <?php echo $this->formSubmit($form->get('submit')); ?>
		</div>
		
		<?php
		echo $this->form()->closeTag($form);
		?>
    </div>
</div>
<?php
$this->inlineScript()->captureStart();
echo <<<JS
$(document).ready(function() {
    //Get location 
    //https://developers.google.com/maps/documentation/javascript/examples/map-geolocation
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see a blank space instead of the map, this
    // is probably because you have denied permission for location sharing.
    
    var map;
    
    function initialize() {
      var mapOptions = {
        zoom: 6
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
    
      // Try HTML5 geolocation
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = new google.maps.LatLng(position.coords.latitude,
                                           position.coords.longitude);
    
          var infowindow = new google.maps.InfoWindow({
            map: map,
            position: pos,
            content: 'Location found using HTML5.'
          });
    
          map.setCenter(pos);
        }, function() {
          handleNoGeolocation(true);
        });
      } else {
        // Browser doesn't support Geolocation
        handleNoGeolocation(false);
      }
    }
    
    function handleNoGeolocation(errorFlag) {
      if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
      } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
      }
    
      var options = {
        map: map,
        position: new google.maps.LatLng(60, 105),
        content: content
      };
    
      var infowindow = new google.maps.InfoWindow(options);
      map.setCenter(options.position);
    }
            
    function getUserDogs() {
        $.ajax({
          type: "GET",
          url: "/dog/existing",
          dataType: "json",
          data: { user_id: 1 }
        }).done(function( data ) {
            $('#dog_add_form').hide();
            $('#dog_choose_error').hide();
            $('#dog_choose_form').show();
            $.each(data, function(){
                $("#existing_dogs").append('<option value="'+ this.id +'">'+ this.name +'</option>');
            });
        });
    }
            
    function getUserAddresses() {
        $.ajax({
          type: "GET",
          url: "/address/existing",
          dataType: "json",
          data: { user_id: 1 }
        }).done(function( data ) {
            $('#enter_address').hide();
            $('#address_choose_error').hide();
            $('#address_add_form').hide();
            $('#address_choose_form').show();
            $.each(data, function(){
                $("#existing_addresses").append('<option value="'+ this.id +'">'+ this.title + ' (' + this.address_1 + ')</option>');
            });
        });
    }
    
    $('#existing_dogs').change(function() {
        $('#dog_id').val($('#existing_dogs option:selected').val());
    });
    
    $('#existing_addresses').change(function() {
        $('#address_id').val($('#existing_addresses option:selected').val());
    });
        
    $('#dog_source').change(function() {
        $('#dog_source_content').show();
        switch ($( '#dog_source option:selected' ).val()) {
            case 'add':
                $('#dog_choose_form').hide();
                $('#dog_choose_error').hide();
                $('#dog_add_form').show();
                break;
            case 'choose':
                getUserDogs();
                break;
            default:
                $('#dog_choose_form').hide();
                $('#dog_add_form').hide();
                $('#dog_choose_error').show();
                break;
        }
    });
    
    $('#address_source').change(function() {
        $('#address_sources').show();
        switch ($( '#address_source option:selected' ).val()) {
            case 'get_location':
                $('#address_choose_form').hide();
                $('#enter_address').hide();
                $('#address_choose_error').hide();
                initialize();
                break;
            case 'choose':
                getUserAddresses();
                break;
            case 'enter_address':
                $('#address_choose_form').hide();
                $('#address_choose_error').hide();
                $('#enter_address').show();
                break;
            default:
//                 $('#address_choose_error').show();
                break;
        }
    });
    
    $('.lost_date_selector').change(function() {
    	compileLostDate();
    });
            
    function addDog() {
        var dog_id = 0;
        dog_id = $('#dog_id').val();
        
        if (dog_id === 0 || dog_id === '') {
            var inputs = $('input[name^="dog_lost\[dog\]"]');
            var serializedData = inputs.serialize();
            
            $.ajax({
              type: "POST",
              url: "/dog/add",
              dataType: "json",
              data: serializedData
            }).done(function( data ) {
                var dogId = data['dog_id'];
                
                if (parseInt(dogId) % 1 == 0 && dogId > 0) {
                    $("#dog_id").val(dogId);
                    addUserDog(dogId);
                }
            }).error(function( xhr, status, err ) {
                alert('Dog not added: ' + xhr.responseText);
                return false;
            });
        } else {
            addAddress();
        }
    }
            
    function addUserDog(dogId) {
        alert('add userDog');
        var inputs = { dog_id: dogId, user_id: 1 };
        var serializedData = $.param(inputs);
        
        $.ajax({
          type: "POST",
          url: "/user/add_dog",
          dataType: "json",
          data: serializedData
        }).done(function( data ) {
            addAddress();
        }).error(function( xhr, status, err ) {
            alert('UserDog not added: ' + xhr.responseText);
            return false;
        });
    }
            
    function addAddress() {
        var address_id = 0;
        address_id = $('#address_id').val();
        
        if (address_id === 0 || address_id === '') {
            var inputs = $('input[name^="dog_lost\[address\]"], select[name^="dog_lost\[address\]"]');
            var serializedData = inputs.serialize();
            
            $.ajax({
              type: "POST",
              url: "/address/add",
              dataType: "json",
              data: serializedData
            }).done(function( data ) {
                var addressId = data['address_id'];
                
                if (parseInt(addressId) % 1 == 0 && addressId > 0) {
                    $("#address_id").val(addressId);
                    addUserAddress(addressId);
                }
            }).error(function( xhr, status, err ) {
                alert('Address not added: ' + xhr.responseText);
                return false;
            });
        } else {
            $('#post_form').val('true');
            $('#lost').submit();
        }
    }
            
    function addUserAddress(addressId) {
        var inputs = { address_id: addressId, dog_id: $('#dog_id').val(), user_id: 1 };
        var serializedData = $.param(inputs);
        
        $.ajax({
          type: "POST",
          url: "/user/add_address",
          dataType: "json",
          data: serializedData
        }).done(function( data ) {
//             alert('dog_id: ' + $('#dog_id').val() + 'user_id: ' + $('#user_id').val() + 'address_id: ' + $('#address_id').val());
//             return true;
            $('#post_form').val('true');
            $('#lost').submit();
        }).error(function( xhr, status, err ) {
            alert('UserAddress not added: ' + xhr.responseText);
            return false;
        });
    }
    
    $('#lost').submit(function( event ) {
        var postForm = $('#post_form').val();
        if ( postForm == 'true' || postForm == true ) {
            var inputs = $('input[name^="dog_lost"], input[select^="dog_lost"]');
            var serializedData = $.param(inputs);
            
            $.ajax({
              type: "POST",
              url: "/dog/lost",
              dataType: "json",
              data: serializedData
            }).done(function( data ) {
                window.location = '/user';
            }).error(function( xhr, status, err ) {
                alert('Lost Dog not added: ' + xhr.responseText);
                return false;
            });
        } else {
            event.preventDefault();
            addDog();
        }
    });
    
    var compileLostDate = function () {
        var date_string = '';/* SQL format YYYY-MM-DD hh:mm:ss */
        date_string += $('#lost_year').val() + '-';
        date_string += $('#lost_month').val() + '-';
        date_string += $('#lost_day').val() + ' ';
        var meridiem = $('#lost_meridiem').val();
        var lost_hour = parseInt($('#lost_hour').val());
        if (meridiem == 'pm' || meridiem == 'PM') {
            lost_hour += 12;
        }
        date_string += lost_hour + '-';
        date_string += $('#lost_minute').val() + '-';
        date_string += '00';
        $('#lost_at').val(date_string);
    };
    
    compileLostDate();
});
JS;
$this->inlineScript()->captureEnd();
?>