<div class="content-title">Dashboard</div>

<div class="list-container">
	<h3>Twins</h3>
	<ul>
		{{#each model as |twin|}}
		<li class="row">
			<div class="col list-thumb">
				<img src="{{twin.thumb}}" alt="brentself photo">
			</div>
			<div class="col list-details">
				<div class="list-username">{{twin.username}}</div>
				<div class="list-age">{{twin.age}}</div>
				<div class="list-country">{{twin.country}}</div>
			</div>
			<div class="col list-actions">
				<div class="row">
					<div class="col">
						<img src="/assets/images/icon-messages-gray.svg" alt="Messages" class="icon-messages-list">
					</div>
					<div class="col">
						<img src="/assets/images/icon-settings-gray.svg" alt="Profile" class="icon-settings-list">
					</div>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
</div>

{{outlet}}
