<ion-header>

  <!-- <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar> -->

  <ion-toolbar color='orange'>
    <ion-buttons start>
      <button ion-button icon-only color="white">
        <ion-icon name="people"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="white">
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
</ion-content>
