

<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Photos" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Messages" tabIcon="text"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>
